<footer class="row">
    <ul class="list-unstyled list-inline">
      <li class="col-md-3 text-center">
        <a href="http://www.facebook.com"><i class="fa fa-3x fa-facebook"></i></a>
      </li>
      <li class="col-md-3 text-center">
        <a href="http://www.twitter.com"><i class="fa fa-3x fa-twitter"></i></a>
      </li>
      <li class="col-md-3 text-center">
        <a href="http://www.email.com"><i class="fa fa-3x fa-envelope"></i></a>
      </li>
      <li class="col-md-3 text-center">
        <a href="http://www.mindvalley.com"><%= image_tag('http://i1210.photobucket.com/albums/cc410/AIESECInternational/mindvalley.png', width: 100) %></a>
      </li>
    </ul>
</footer>